body{
	margin:0;
	padding:0;
	background-color: slatebluy
			}
ul{
			text-decoration:none;
			}
p{
			font-family:sans-serif;
			}
			header, .foot{
				width:100%;
				background-color:violet;
}
	nav ul{
		margin:0;
		padding:0;
}
	nav li{
		display:inline-block;
	}
	h1{
		color:magenta;
		font-size:5vw;
		font-family:sans-serif;
	}
	h2{
		padding-left:20px;
		margin-left:5px;
		border-left:1px solid lightgray;
}
	#head img{
		margin:0;
		padding:0;
		position:absolute;
		width:3%;
		height:6%;
		top:2%;
		left:7%;
	}
	#head > img.search{
		margin:0;
		padding:0;
		position:absolute;
		width:2%;
		height:3%;
		top:3%;
		left:89%;
}
	#head h1{
		margin-top:10%;
		text-align:center;
		font-size:6vw;
}
	#head p{
		color:rgb(191, 166, 204)
		padding-bottom:15%;
		position:relative;
		text-align:center;
		font-size:1.3vw;
	}
	#head > nav > ul > li:nth-child(1) > a{
		text-decoration: none;
		position:absolute;
		left:80%;
		font-size:1.2vw;
		font-family:sans-serif;
}
#head > nav > ul > li:nth-child(2) > a{
		left:85%;
		position:absolute;
		text-decoration: none;
		font-size:1.2vw;
		font-family:Arial, Helvetica, sans-serif;
}
	#head > nav > ul > li:nth-child(3){
		font-family:Arial, Helvetica, sans-serif;
		position:absolute;
		font-size:1vw;
		left:10%;
		margin-top:20px;
		}
		div img{
		zoom: 1.24;
		max-height: 100%;
		max-width: 100%;
		}
#head{
		width:100%;
		background-image: url("http://cdn.playbuzz.com/cdn/a72f6a9b-20dd-4eae-8d46-da81b2b9914c/a83e3750-f9ac-4bd6-86bd-a80d6690958c.jpg");
		background-repeat:no-repeat;
		background-size:100%;
		}
.cols.main-col{
		margin-right:10%;
}
body > div.container > section.cols.side-col >
div{
		text-align:center;
}
body > div.container > section.cols.side-col > div:nth-child(1) > div > a > img{
		margin-top:50px;
		margin-bottom:10px;
		border-radius:100%;
		width:20%;
}
body > div.container > section.cols.main-col > div:nth-child(2) > a > img{
		margin-bottom:10px;
		border-radius:100%;
		width:5%;
}
body > div.container > section.cols.main-col > div:nth-child(2) > p{
		margin:0;
		padding:0;
		position:relative;
		text-align:right;
		bottom: 35px;
		right: 375px;
}
body > div.container > section.cols.main-col > div:nth-child(2) > p > a{
		color:hotpink;
}
body > div.container > section.cols.main-col > div:nth-child(2){
		display:inline-block;
		position: relative;
		bottom: 50px;
}
.cols.side-col > div:nth-child(2) > a > img{
		width:inherit;
		margin-top:30px;
		}
h5{
		margin:0;
		padding:0;
		color:blue;
		font-size:1.8vw;
		font-family:sans-serif;
		text-align:left;
}
.cols.side-col p{
		margin:0;
		padding:0;
}
h6{
		display:inline-block;
		vertical-align:middle;
		font-family:sans-serif;
		background-color:darkgray;
		padding-top:5px;
		margin-bottom:43px;
		padding-right: 4px;
		padding-left: 4px;
		bottom:10px;
		height:21px;
}
.cols.main-col div{
		padding-right:50px;
}
.share-bar ul{
		padding:0;
}
.share-bar ul li{
		display:inline-block;
}
.share-bar a img{
		width:15px;
		height:15px;
		background-color: gray;
		padding:3px;
}
.share-bar a{
		text-decoration:none;
		color:black;
}
.share-bar li:hover img, .share-bar li:hover h6{
		background-color:lightblue;
}
.share-bar li:hover a, .share-bar li:hover h6{
		background-color:blue;
}

.container{
		width:80%;
		margin: 0 auto;
}
.cols{
		vertical-align:top;
		display:inline-block;
}
.main-col{
		width:59%;
}
.side-col{
		width:29%;
}
.cols.side-col ul{
		padding:0;
		margin:0;
}
.cols.side-col ul li{
		display:inline;
}
h4{
		color:blue;
		font-size:1.7vw;
		text-align:center;
		margin:0;
}
.cols.side-col a{
		text-decoration:none;
}
.cols.side-col li a{
		font-size:1vw;
		font-family:sans-serif;
		color:lightgray;
		text-decoration:none;
}
#ad a{
		text-decoration:none;
		color:lightgray;
}
#ad{
		text-decoration:underline;
		color:lightgray;
		text-align:right;
		font-size:1vw;
		}
.cols.main-col > p > a{
		color:lightblue;
		}
.cols.main-col > p > a:visited{
		color:lightgray;
}
.container-2{
		border-top:1px solid lightgray;
		width:100%;
		position:absolute;
		white-space:nowrap;
		overflow:hidden;
		position: relative;
		top: 80%;
}
.container-2 h1{
		position:relative;
		width:100%;
		top:80%;
		text-align:center;
		font-family:sans-serif;
		}
section h3{
		width:300px;
}
.col-4{
		width:25%;
		margin-right:-6px;
		background-color:darkblue;
}
.col-4 img{
		width:124%;
		padding-left:2px;
		opacity: .5;
}
.col-4 img:hover{
		opacity: 1;
		cursor: pointer;
}
.color{
		background-color:darkblue;
}
.side-col a:nth-child(1) img{
		width:124%;
		padding-left:2px;
		opacity: .5;
}
.side-col a:nth-child(1) img:hover{
		opacity: 1;
		cursor: pointer;
}
body > div.container-2 > section:nth-child(2) > h3{
		margin-top:14.8%;
		margin-left:2.2%;
		}
h3{
		margin-top:18%;
		margin-left:2.2%;
		font-size:3vw;
		z-index:100;
		font-family:sans-serif;
		width:80%;
		height:100%;
		position:absolute;
		color:white;
		}
.foot{
		position: relative;
		top: 80%;
		height:20%;
		width: 100%;
		background-color: lightblue;
		text-align: right;
}
.foot p{
		position:relative;
		margin:0;
		padding:0;
		top:48%;
		left:15%;
		text-align:left;
		color:white;
		width:20%;
}
.foot nav{
			position:relative;
			margin:0;
			padding:0;
			top:29%;
			right:15%;
}
.foot li a{
		border-right: 1px solid gray;
		padding-right: 10px;
		margin-left:10px;
		text-decoration:none;
		color:gray;
}
.foot li:nth-child(4) a{
		border:none;
}
